<div class="container content-container">
	<div class="row">
		<div class="col-md-3 about-photo-container">
			<img class="about-photo" src="img/about_photo.jpg">
		</div>
		<div class="col-md-9">
			<div class="about-desc">
				<div class="desc-container">
					<h2>Hi. I'm Eric.</h2>
					<p>I'm interested in using data to inform decisions and derive insights and strive to put information to good use through visualizations and solid interface design. Mostly I just enjoy working on and building things that people will find useful. I have lots of experience dealing with large amounts of data and also have strong front-end development skills.</p>
					<p>I recently graduated with a Master's Degree from the University of Michigan School of Information (UMSI) specializing in Human-Computer Interaction (HCI) and Information Analysis and Retrieval (IAR). I did my undergrad at UCLA double majoring in Cognitive Science and Statistics.</p>
					<p>Some of my hobbies include taking care of plants, playing and watching Dota 2, Pokemon, Settlers of Catan, and craft beer. I have a pet tortoise back home named Turtle.</p>
					<br>
					<br>
					<p>Connect with me on: <a href="https://www.linkedin.com/in/ericiskoo">LinkedIn</a></p>
					<p>Feel free to contact me at: <a href="">the-domain-name-of-this-site@gmail.com</a></p>
				</div>
			</div>
		</div>
	</div>
</div>
