<div class="container content-container">
	<div class="row">
		<div class="col-md-4">
			<a href="#projects/resmaps">
				<div id="resmaps" class="project-panel panel-sm">
					<div class="panel-hover">ResMaps</div>
				</div>
			</a>
		</div>
		<div class="col-md-4">
			<a href="#projects/jstor">
				<div id="jstor" class="project-panel panel-sm">
					<div class="panel-hover">JSTOR Teachable Articles</div>
				</div>
			</a>
		</div>
		<div class="col-md-4">
			<a href="#projects/chi">
				<div id="chi" class="project-panel panel-sm">
					<div class="panel-hover">CHI Student Design Competition</div>
				</div>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<a href="#projects/coursera">
				<div id="coursera" class="project-panel panel-sm">
					<div class="panel-hover">UM Coursera Data Analysis</div>
				</div>
			</a>
		</div>
		<div class="col-md-4">
			<a href="#projects/courseviz">
				<div id="courseviz" class="project-panel panel-sm">
					<div class="panel-hover">UMSI Course Visualization Tool</div>
				</div>
			</a>
		</div>
		<div class="col-md-4">
			<a href="#projects/courserec">
				<div id="courserecommender" class="project-panel panel-sm">
					<div class="panel-hover">UMSI Course Recommender System</div>
				</div>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<a href="#projects/forddirect">
				<div id="forddirect" class="project-panel panel-sm">
					<div class="panel-hover">FordDirectUsed.com</div>
				</div>
			</a>
		</div>
		<div class="col-md-4">
			<a href="#projects/smithsonian">
				<div id="smithsonian" class="project-panel panel-sm">
					<div class="panel-hover">Smithsonian Collections Blog</div>
				</div>
			</a>
		</div>
		<div class="col-md-4">
			<a href="#projects/aata">
				<div id="aata" class="project-panel panel-sm">
					<div class="panel-hover">AATA Mobile App Redesign</div>
				</div>
			</a>
		</div>
	</div>

	<!--<div class="row">
		<div class="col-md-8">
			<a href="#projects/resmaps">
			<div id="resmaps" class="project-panel panel-lg">
				<div class="panel-hover">ResMaps</div>
			</div>
			</a>
		</div>
		<div class="col-md-4">
			<a href="#projects/courseviz">
			<div id="courseviz" class="project-panel panel-sm">
				<div class="panel-hover">UMSI Course Visualization Tool</div>
			</div>
			</a>
			<a href="#projects/courserec">
			<div id="courserecommender" class="project-panel panel-sm">
				<div class="panel-hover">UMSI Course Recommender System</div>
			</div>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<a href="#projects/coursera">
			<div id="coursera" class="project-panel panel-md">
				<div class="panel-hover">UM Coursera Data Analysis</div>
			</div>
			</a>
		</div>
		<div class="col-md-6">
			<a href="#projects/chi">
			<div id="chi" class="project-panel panel-md">
				<div class="panel-hover">CHI Student Design Competition</div>
			</div>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<a href="#projects/forddirect">
			<div id="forddirect" class="project-panel panel-sm">
				<div class="panel-hover">FordDirectUsed.com</div>
			</div>
			</a>
		</div>
		<div class="col-md-4">
			<a href="#projects/smithsonian">
			<div id="smithsonian" class="project-panel panel-sm">
				<div class="panel-hover">Smithsonian Collections Blog</div>
			</div>
			</a>
		</div>
		<div class="col-md-4">
			<a href="#projects/aata">
			<div id="aata" class="project-panel panel-sm">
				<div class="panel-hover">AATA Mobile App Redesign</div>
			</div>
			</a>
		</div>
	</div>-->
</div>
