<div class="container content-container">
	<div id="resume_container">
		<div style="width:980px;margin:auto;overflow:hidden;border:1px solid #CCCCCC;">
			<iframe src="https://www.resmaps.com/resume/ericiskoo" id="my_resume" ng-init="resizeCrossDomainIframe('my_resume','https://www.resmaps.com')" style="width:980px;background-color:transparent;border:0px none transparent;padding:0px;overflow:hidden;margin-top:-100px;margin-bottom:-213px;" frameborder="0" seamless></iframe>
		</div>
	</div>
</div>
