<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div class="project-img">
				<img src="img/aata_wireframe.jpg">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="project-img">
				<img src="img/aata_paper.jpg">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="project-img">
				<img src="img/aata_storyboard.jpg">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6">
			<div class="project-img">
				<img src="img/aata_sketches1.jpg">
			</div>
		</div>
		<div class="col-xs-6">
			<div class="project-img">
				<img src="img/aata_sketches2.jpg">
			</div>
		</div>
	</div>
</div>
