<div class="container">
	<div class="row">
		<div class="col-sm-6">
			<div class="project-img">
				<img src="img/chi_metrics3.jpg">
			</div>
		</div>
		<div class="col-sm-3">
			<div class="project-img">
				<img src="img/chi_metrics2.jpg">
			</div>
		</div>
		<div class="col-sm-3">
			<div class="project-img">
				<img src="img/chi_metrics1.jpg">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="project-img">
				<img src="img/chi_affinity.jpg">
			</div>
		</div>
	</div>
</div>
