<div class="container">
	<div class="row">
		<div class="col-sm-4">
			<div class="project-img coursera-logos">
				<img id="coursera-logo" src="img/coursera_logo.jpg">
			</div>
		</div>
		<div class="col-sm-4">
			<div class="project-img coursera-logos">
				<img id="um-logo" src="img/um_logo.jpg">
			</div>
		</div>
		<div class="col-sm-4">
			<div class="project-img coursera-logos">
				<img id="uselab-logo" src="img/uselab_logo.jpg">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="project-img">
				<img src="img/coursera_tables.jpg">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<div class="project-img">
				<img src="img/coursera_grades.jpg">
			</div>
		</div>
		<div class="col-sm-6">
			<div class="project-img">
				<img src="img/coursera_engagement.jpg">
			</div>
		</div>
	</div>
</div>
