<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div class="project-img">
				<img src="img/jstor_splash.jpg">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<div class="project-img">
				<img src="img/jstor_quicklists.jpg">
			</div>
		</div>
		<div class="col-sm-6">
			<div class="project-img">
				<img src="img/jstor_serp.jpg">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="project-img">
				<img src="img/jstor_observations.jpg">
			</div>
		</div>
	</div>
</div>
