<div class="container">
	<div class="row">
		<div class="col-sm-6">
			<div class="project-img">
				<img src="img/smithsonian_blog.jpg">
			</div>
		</div>
		<div class="col-sm-6">
			<div class="project-img">
				<img src="img/smithsonian_picture.jpg">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<div class="project-img">
				<img src="img/smithsonian_wordcloud.jpg">
			</div>
		</div>
		<div class="col-sm-6">
			<div class="project-img">
				<img src="img/smithsonian_ppt.jpg">
			</div>
		</div>
	</div>
</div>
