body{
	font-family: "Libre Baskerville", serif;
	font-weight: 400;
	font-size: 18px;
	color: #666666;
	background-color: #ffffff;
}
h1{
	font-family: "Libre Baskerville", serif;
	font-weight: 400;
	font-style: italic;
}

.navbar-default{
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	color: #999999;
	text-decoration: none;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #e1e1e1;
	background-color: #ffffff;
}
.navbar-default a{
	color: inherit;
	text-decoration: none;
}
.navbar-default a:hover{
	color: #222222;
}
.navbar-brand{
	font-family: "Libre Baskerville", serif;
	font-weight: 400;
	font-size: 36px;
}
a.navbar-brand{
	color: #444444;
}
.navbar-default .navbar-nav>.active>a{
	font-weight: bold;
	color: #666666;
	background-color: #ffffff;
}
.navbar-default .navbar-nav>.active>a:hover{
	color: #222222;
	background-color: #ffffff;
}

.content_main{
	padding: 30px 0;
	background-color: #d9d9d9;
}
footer{
	text-align: center;
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
	color: #999999;
	border-top: 1px solid #e1e1e1;
	padding: 20px 0px;
}

.container{
	transition: width 0.5s;
}
.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12{
	padding-left: 5px;
	padding-right: 5px;
	transition: width 0.5s;
	transition: float 0.5s;
}

.project-panel{
	width: 100%;
	font-family: "Open Sans", sans-serif;
	background-color: #f2f2f2;
	text-align: center;
	margin-top: 10px;
	position: relative;
	transition: all 0.5s;
}
.panel-hover{
	color: #f2f2f2;
	background-color: #333333;
	height: inherit;
	width: inherit;
	position: absolute;
	z-index: 10;
	opacity: 0;
	transition: all 0.5s;
}
.panel-hover:hover{
	opacity: .85;
}
.panel-lg{
	height: 484px;
}
.panel-lg .panel-hover{
	padding-top: 230px;
}
.panel-md{
	height: 360px;
}
.panel-md .panel-hover{
	padding-top: 165px;
}
.panel-sm{
	height: 237px;
}
.panel-sm .panel-hover{
	padding-top: 105px;
}
#aata{
	background-image: url('../img/aata_logo.png');
	background-size: 200px;
	background-repeat: no-repeat;
	background-origin: content-box;
	background-position: center center;
}
#chi{
	background-image: url('../img/chi_figure.png');
	background-size: 110px;
	background-repeat: no-repeat;
	background-origin: content-box;
	background-position: center center;
}
#coursera{
	background-image: url('../img/coursera.png');
	background-size: 600px;
	background-repeat: no-repeat;
	background-origin: content-box;
	background-position: center center;
}
#courserecommender{
	background-image: url('../img/courserecommender_grayscale.png');
	background-repeat: no-repeat;
	background-origin: content-box;
	background-position: center center;
}
#courseviz{
	background-image: url('../img/courseviz.png');
	background-repeat: no-repeat;
	background-origin: content-box;
	background-position: center center;
}
#forddirect{
	background-image: url('../img/forddirect_logo.gif');
	background-size: 200px;
	background-repeat: no-repeat;
	background-origin: content-box;
	background-position: center center;
}
#resmaps{
	background-image: url('../img/resmaps_heatmap.png');
	background-size: 600px;
	background-repeat: no-repeat;
	background-origin: content-box;
	background-position: center center;
}
#smithsonian{
	background-image: url('../img/smithsonian_icon.gif');
	background-size: 120px;
	background-repeat: no-repeat;
	background-origin: content-box;
	background-position: center center;
}

.desc_wrapper{
	background-color: #f2f2f2;
	border-bottom: 1px solid #e1e1e1;
}
.desc_container{
	max-width: 740px;
	margin: auto;
	padding-top: 80px;
	padding-bottom: 80px;
}
.desc_container h2{
	margin: 0;
	font-family: "Open Sans", sans-serif;
	font-size: 20px;
	color: #444444;
}
.desc_container p{
	margin: 0;
	padding-top: 20px;
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
	line-height: 2em;
}
p.team_members{
	padding-top: 2px;
	color: #999999;
}

.project-img{
	width: 100%;
	background-color: #ffffff;
	text-align: center;
	margin-top: 10px;
	transition: all 0.5s;
}
.project-img img{
	width: 100%;
	max-width: 1160px;
}
.img-hover-effect{
	position: relative;
}
.img-hover-effect .img-default{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	margin: auto;
}
.img-hover-effect .img-hover{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	margin: auto;
	opacity: 0;
	transition: all 0.5s;
}
.img-hover-effect .img-hover:hover{
	opacity: 100;
}
.coursera_logos{
	height: 300px;
}
#coursera_logo{
	margin-top: 125px;
	width: 250px;
}
#um_logo{
	margin-top: 50px;
	width: 180px;
}
#uselab_logo{
	margin-top: 105px;
	width: 250px;
}
#resmaps_preview{
	height: 661px;
}
#resmaps_preview img{
	margin-top: 80px;
	margin-bottom: 80px;
	max-height: 501px;
	max-width: 855px;
}
#smithsonian_wordcloud{
	height: 594px;
}
#smithsonian_wordcloud img{
	max-height: 594px;
	max-width: 850px;
}

#resume_container{
	width: 980px;
	height: 1470px;
	margin: auto;
	position: relative;
	overflow: hidden;
}
#resume_iframe{
	width: 100%;
	height: 100%;
	position: absolute;
	top: -70px;
}

#about_desc{
	background-color: #f2f2f2;
}
#about_photo_container{
	text-align: center;
}
#about_photo{
	width: 100%;
	max-width: 380px;
	margin-bottom: 10px;
}
