@import url('http://fonts.googleapis.com/css?family=Roboto');

body {
	color: #222222;
	font-family: 'Roboto', Helvetica, sans-serif;
}
.navbar {
	font-family: 'Roboto', Helvetica, sans-serif;
}
#soccer-logo {
	height: 50px;
	position: relative;
	top: -12px;
}

.row {
	margin: 0;
	padding: 0;
}
.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12,
.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12 {
	margin: 0;
	padding: 0;
}

#loading {
	font-family: 'Roboto', Helvetica, sans-serif;
	text-align: center;
	font-size: 32px;
	color: #444444;
	padding-top: 150px;
}

#main {
	font-family: 'Roboto', Helvetica, sans-serif;
	margin-top: 100px;
	margin-bottom: 50px;
	max-width: 800px;
}
.game-entry {
	color: #333333;
	background-color: #f6f6f6;
	border: 1px solid #efefef;
	margin-bottom: 6px;
	padding: 10px 15px;
	min-height: 40px;
}
.ref-icon-container {
	width: 70px;
	float: left;
}
.glyphicon-user {
	font-size: 16px;
	color: #aaaaaa;
}
.filled {
	color: green;
}
.game-info-container {
	margin-left: 70px;
}
.cell-time {
}
.cell-division {

}
.cell-location {
	text-align: right;
}
.cell-teams {
	font-style: italic;
	color: #9f9f9f;
}

.mobile-view .game-entry {
	font-size: 42px;
}
.mobile-view .ref-icon-container {
	width: 175px;
}
.mobile-view .glyphicon-user {
	font-size: 36px;
}
.mobile-view .glyphicon-user.filled {
	color: green;
}
.mobile-view .game-info-container {
	margin-left: 175px;
}