<h2>AATA Mobile App Redesign</h2>
<p>Frustrated by the poor usability of the current Ann Arbor city bus app, I decided to do a redesign as a project for my Introduction to Interaction Design class. The process included brainstorming, concept mapping, storyboards and scenarios, wireframing, paper prototyping, and culminated in a final interactive medium-fidelity prototype created using Axure.</p>
<p></p>
<p>Visit <a href="http://697sbt.axshare.com/">AATA Mobile App Prototype</a></p>
<p>Visit <a href="http://mobile.theride.org/">AATA Mobile App</a></p>