<h2>UMSI Course Visualization Tool</h2>
<p class="team-members">Team Members: Eric Koo, Chloe Ng, Krishna Vadrevu, Kevin Gao, Tiffany Liu</p>
<p>There are numerous specializations at UMSI and hundreds of potential courses. We wanted to create a tool that would allow both students and staff to explore the information contained in historical UMSI course registration data. Using Python for data processing and the Javascript D3.js library for the interface, we created an interactive visualization of enrollment numbers and popular courses for the entire history of the school.</p>
<p>Visit <a href="http://www-personal.umich.edu/~erickoo/courseviz/">UMSI Course Visualization Tool</a></p>
