<h2>UMSI Course Recommender System</h2>
<p class="team-members">Team Members: Eric Koo, Sanmeet Kanhere</p>
<p>UMSI offers many courses, but come registration time it is always a pain to find good classes to take. Using past course registration history we designed a course recommender system that allows students to input what classes they have already taken in order to get recommendations based on what other students with similar schedules have taken. In our last semester, we received a grant from the UM Learning Analytics Fellowship Program to continue working on the system.</p>
<p>Visit <a href="http://coursela.aws.af.cm/">UMSI Course Recommender System</a></p>
