<h2>FordDirectUsed.com</h2>
<p class="team-members">Team Members: Eric Koo, Cody Haro, Pearl Kuo, Jihye Song</p>
<p>Our team helped evaluate and test FordDirect's recently launched site, FordDirectUsed.com, as part of a semester-long class project. We conducted interviews and distributed surveys to learn more about the target population and based on the findings created personas and scenarios. Other project deliverables included an interaction map of the site, comparative evaluation and competitive analysis, heuristic evaluation using Nielsen's 10 Usability Heuristics, and formal usability testing.</p>
<p>In our final report and presentation to the client, we were happy to find that many of our findings and insights meshed with their own intuitions and that our recommendations for improving usability would definitely be considered as they moved forward.</p>
<p>Visit <a href="http://www.forddirectused.com/">FordDirectUsed.com</a></p>
