<h2>JSTOR Teachable Articles</h2>
<p>I was brought in as a UX consultant/front-end developer for a week-long project with the JSTOR Labs team in order to create a new site designed specifically to help teachers find articles for use in their classrooms. We conducted 10 interviews with high school and college teachers and gradually consolidated our findings and results into a working prototype by the end of the week.</p>
<p>It was a great experience to apply UX practices in a work environment, implement the most impactful features, and actually have a working product by the end of the week.</p>
<p></p>
