<h2>ResMaps</h2>
<p class="team-members">Team Members: Eric Koo, Sanmeet Kanhere</p>
<p>ResMaps is a site that allows users to create a sleek-looking web resume and provides them with the ability to view detailed analytics and heatmaps showing not only who looked at their resume, but also what they looked at. My partner Sanmeet Kanhere and I have been working on this project in our spare time for almost a year now and we hope to transition into open beta soon.</p>
<p>Visit <a href="http://www.resmaps.com/">ResMaps</a></p>
